nav {
    background-color: #2d3e50;
    padding: 1rem 0;
}

.navLinks {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

navLink {
    margin: 0 1.5rem;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.2s;
    margin: 0 1.5em;
}

a:hover {
    color: #f9d342;
}